html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #111;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
    animation: twinkle 2s infinite;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

p {
    color: white;
}

.fa-solid.fa-chevron-down{
    color: white;
    margin: 0 18px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    left: 50vw;
}

.slide {
    display: none;
}

#dots {
    position: relative;
    bottom: 40px;
    left: 250px;
}

.dot {
    width: 20px;
    margin: 2px;
}

main {
    display: flex;
}

#text {
    padding-left: 5vw;
    align-self: center;
    font-size: 18px;
    width: 40vw;
}

#slideshow {
    margin-left: 10vw;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(image/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 300px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px;
    position: relative;
}

.nav-links ul li a {
    font-family: "Sixtyfour", sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa-brands {
    color: white;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px;
}

.sub-header {
    height: 50vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
}

.test2 {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: inherit;
    align-items: center;
    background-color: red;
    overflow: hidden;

}

.spiral {
    display: flex;
    align-items: center;
    margin-top: 400px;
    margin-left: 20%;
    gap: 10px;
    position: absolute;

}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes spiral {
    0% {
        --angle: 0deg;
    }

    100% {
        --angle: 360deg;
    }
}

.character {
    color: white;
    font-size: 4em;
    transform: translateY(calc(sin(var(--angle)) * 100px)) scale(calc(cos(var(--angle))* 0.5 + 0.5));
    animation: spiral 4s linear infinite;
    font-family: "Sixtyfour", sans-serif;
}

.container{
    position:absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container > .rocket{
    position:relative;
    width: 100px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 37.5%;
}
.container > .rocket i {
    background: linear-gradient(cyan,#00aaff,#138ed4,#2d36d8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute;
    font-size: 6rem;
    transform: rotate(-45deg);
    animation: move 0.2s linear infinite;
    z-index: 1;
}
.container .rocket::before{
    content: " ";
    position: absolute;
    top: 100px;
    left: 43%;
    width: 15px;
    height: 150px;
    background: linear-gradient(#e65c00, transparent);
}
.container .rocket::after{
    content: " ";
    position: absolute;
    top: 120px;
    left: 43%;
    width: 15px;
    height: 150px;
    background: linear-gradient(#e65c00, transparent);
    filter: blur(20px);
    z-index: 1;
}



@keyframes move {
    0% , 100%{
        top: 35%;
    }
    50%{
        top: 40%;
    }
}

